.l-mystocks {
    @include ContainerSize(100%, 100%);

    display: grid;
    grid-template-columns: 3fr 2fr;
}

.l-buyList {
    grid-column-start: 1;
    grid-column-end: 2;
}

.l-accumulator {
    grid-column-start: 2;
    grid-column-end: 3;
}