$menu-item: #bbb;
$menu-item-active: rgb(34, 107, 208);

$ligter-red: rgb(255, 220, 220);
$ligter-green: rgb(220, 255, 220);
$button-red: rgb(248, 130, 130);
$button-green: rgb(65, 209, 101);

$lighter-dark: #111;
$lighter-gray: #eee;
$lighter-gray-transparent: rgba(255, 255, 255, 0.5);

$light-border: 1px solid #eee;
$dark-border: 1px solid #000;
$gainsboro-border: 1px solid gainsboro;
$select-border: 1px solid #ddd;