.boardIndex {
    display: flex;
    flex-wrap: nowrap;
    place-content: center flex-start;
    overflow-x: overlay;

    padding: 1rem 1rem 0;
    font-family: 'Microsoft JhengHei';
}

.indexCard {
    @extend %flexColumn;
    flex: 0 0 15vw;

    margin: 0 1rem;
    border: $light-border;
    border-bottom: $gainsboro-border;
    border-radius: 5%;
    background-color: white;

    &__topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 60%;
        padding: 0 0 1rem 1rem;
    }

    &__delete {
        @extend %buttonStyle;
        align-self: flex-start;
        border-radius: 50%;
        font-size: 1.5rem;
        background-color: white;
        color: gray;

        &:hover {
            color: $lighter-dark;
        }
    }

    &__content {
        display: inline-flex;
        justify-content: space-between;

        height: 40%;
        padding: 0 1rem;
    }

    &__trend {
        display: flex;
        align-items: center;

        height: 1.5rem;
        padding: 0 0.5rem;
        border-radius: 10px;

        &-up {
            background-color: $ligter-red;
            color: red;
        }

        &-down {
            background-color: $ligter-green;
            color: green;
        }
    }

    &_add {
        @include ContainerSize(100%, 100%);
        border: none;

        color: $menu-item-active;
        background-color: white;
        font-size: 2rem;

        cursor: pointer;
    }

    &_select {
        @include ContainerSize(100%, 40%);
        padding: 0 1rem;
        border: none;
        outline: none;
    }

    .btn-group {
        display: flex;
        justify-content: space-around;
        padding-top: 1rem;
        font-family: 'fangsong';

        .btn-confirm {
            @extend %buttonStyle;
            background-color: $ligter-green;

            &:hover {
                background-color: $button-green;
            }
        }

        .btn-cancel {
            @extend %buttonStyle;
            background-color: $ligter-red;

            &:hover {
                background-color: $button-red;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .boardIndex {
        flex-direction: row;
        padding: 0.5rem;
    }

    .indexCard {
        flex: 0 0 45vw;
        margin: 0 0.5rem;
        font-size: 0.8rem;

        &__title {
            height: 50%;
            padding: 0.5rem;
        }

        &__content {
            height: 50%;
            padding: 0.5rem;
        }

        &__trend {
            padding: 0.5rem;
        }

        &_select {
            outline: $select-border;
            border: $select-border;
        }
    }
}