.popular {
    margin: 1rem 0 0.5rem 1rem;
    border: $light-border;

    &_topbar {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 1rem;
        font-family: 'Consolas';

        select {
            border: $select-border;
        }
    }

    &_title {
        font-size: 2rem;
    }

    &_content {
        padding: 0 1rem;
        font-family: 'Microsoft JhengHei';
    }

    &_items {
        display: block;
        height: 50vh;
        overflow-y: overlay;
    }
}

.popularItem {
    @extend %tableItem;

    &_header {
        @extend %tableName;
    }

    &_title {
        @extend %flexColumn;

        width: 50%;
    }

    &_price {
        width: 25%;
    }

    &_trend {
        width: 25%;
    }

    &:nth-child(odd) {
        background-color: white;
    }

    &:nth-child(even) {
        background-color: $lighter-gray;
    }

    &:hover {
        background-color: gainsboro;
    }
}

@media screen and (max-width: 768px) {
    .popular {
        margin: 0;


        &_topbar {
            padding: 0 1rem;
        }

        &_title {
            font-size: 1.5rem;
        }

        &_content {
            font-size: 0.9rem;
        }
    }
}