.stocksList {
    margin: 1rem;

    &_topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20%;
        padding: 1rem 6rem 1rem 2rem;
    }

    &_title {
        font-size: 2rem;
        font-family: 'Consolas';
    }

    &_content {
        padding: 0 5rem;
        font-family: 'Microsoft JhengHei';
    }

    &_items {
        display: block;
        height: 17*5vh;
        overflow-y: overlay;
    }
}

.listItem {
    @extend %tableItem;

    &_header {
        @extend %tableName;
    }

    &_title {
        @extend %flexColumn;
        width: 20%;
    }

    &_opening,
    &_closing,
    &_highest,
    &_lowest,
    &_trend {
        width: 15%;
    }

    &_add {
        width: 5%;
        font-size: 1.25rem;
        cursor: pointer;

        .gray {
            color: gray;
        }

        .green {
            color: green;
        }
    }

    &:nth-child(odd) {
        background-color: white;
    }

    &:nth-child(even) {
        background-color: $lighter-gray;
    }

    &:hover {
        background-color: gainsboro;
    }
}

@media screen and (max-width: 768px) {
    .stocksList {
        margin: 0;

        &_title {
            width: 50%;
            font-size: 1.5rem;
        }

        &_content {
            padding: 0;
        }
    }

    .stocksList_topbar {
        padding: 0 1rem;

        .searchBar {
            width: 50%;

            label i {
                padding: 0;
                padding-right: 0.5rem;
            }

            &_input {
                width: 100%;

                background-color: white;
            }
        }
    }

    .listItem {
        padding: 0 1rem;

        &_header {
            font-size: 0.9rem;
        }

        &_name,
        &_code {
            font-size: 0.8rem;
        }

        &_closing,
        &_trend {
            width: auto;
        }

        &_opening,
        &_highest,
        &_lowest {
            display: none;
        }
    }
}