.sidebar {
    @include ContainerSize(15vw, 100vh);
    @extend %flexColumn;

    position: fixed;
    background-color: $lighter-dark;
    font-family: 'Verdana';
}

.logo {
    @include ContainerSize(auto, 15%);

    display: grid;
    place-items: center;

    color: white;
    font-size: 1.5rem;
    font-weight: 700;
}

.menu {
    @include ContainerSize(auto, 85%);

    &_item {
        display: flex;

        margin: 1rem;
        padding: 1rem;
        border-radius: 10px;

        color: $menu-item;
        font-size: 1rem;

        &-active {
            color: white;
            background-color: $menu-item-active;
        }
    }

    &_icon {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        @include ContainerSize(100vw, 7vh);
        bottom: 0px;
    }

    .logo {
        display: none;
    }

    .menu {
        @include ContainerSize(100%, 100%);
        display: flex;

        &_item {
            flex-grow: 2;
            margin: 0;
            border-radius: 0;
        }

        &_display {
            display: none;
        }

        &_icon {
            margin: auto;
        }
    }
}